$color: steelblue;

.my-flix {
   color: $color;
}
.logo {
   width: 80px;
   height: 90px;
   transform: rotate(20deg);
}

legend {
   font-size: 22px;
   font-weight: bold;
   margin-right: 16px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
}