$color: steelblue;

.my-flix {
   color: $color;
}
.logo {
   width: 80px;
   height: 90px;
   transform: rotate(20deg);
}

legend {
   font-size: 22px;
   font-weight: bold;
   margin-right: 16px;
}
